/*
index.css
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  h1 {
  margin-top: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
   
}
.content{
  display: flex;
  justify-content:space-around;
  justify-content: center;
}
header{
  display: flex;
  justify-content: center;
  font-weight:bold ;
  border-bottom: solid;
  border-width:.1em ;
  border-color: rgb(77, 75, 75);
 
}
header:hover{
  background-color:rgb(149, 227, 199);
}
.courseSelection{
  margin-right: 5em ;
  height: 20em;
width: 15rem;
overflow: auto;
border-style: solid;
  border-color: rgb(77, 75, 75);
 
}
.selectedCourse{
  height: 20em;
width: 15rem;
overflow: auto;
border-style: solid;
  border-color: rgb(77, 75, 75);
}
.classid{
  text-align: center;
  border: solid;
  border-width: .1em ;
  border-color: rgb(209, 212, 215);
  padding: .5em .5em;
  z-index: 5;
}
.classid:hover{
  background-color:rgb(149, 227, 199);
  text-decoration: none;
  align-items: center;
 
}
.selected{
    background-color: rgb(52, 106, 200);
    color: white;
   
  }
 #items{
  display:flex;
  justify-content: center;
  justify-items: flex-end;
  flex-direction: row;
  padding: 5rem;
 }
  #total{
    font-size: large;
    font-weight: bolder;
  }
  #select_button{
   margin-left: 2rem;
   padding: auto;
   align-items: center;
   width: 5rem;
  }





  .creditLabel{
    font-weight: bolder;
    margin-right: .5rem;
    text-align: center;
    padding: .1rem;
  }